## Notebook For Data Exploration from SQL Databases and Making Predictions

In [1]:
# import required packages and connect to the database
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import xgboost as xgb
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine, text
import pickle

# set plotting theme to seaborn
sns.set()

In [2]:
# try connecting to the database
engine = create_engine('postgresql+psycopg2://ns96:java100@localhost/SolarCostData')

# make sure we can connect to the database, otherwise exit
try:
  conn = engine.connect()
  conn.close()
  print("Successfully Connected to DB")
except Exception as e:
  print("DB Connection Error\n")    
  print(e)

Successfully Connected to DB

In [ ]:
# Run query to return all cities, with installers, and average cost
query = text('SELECT "Service_City", "Installer_Name", COUNT("Installer_Name"), '\
             'ROUND(AVG("Total_System_Cost")) '\
             'FROM "CA" '\
             'GROUP BY "Service_City", "Installer_Name" '\
             'HAVING "Installer_Name" != \'Other\' '\
             'ORDER BY "Service_City", COUNT("Installer_Name") DESC')
print(query)
    
with engine.connect() as conn:
    results = conn.execute(query).fetchall()
    
    records = dict()
    
    for row in results:
        print(row[0], row[1])

In [28]:
# create a look table which indicate the most common generator used by an installer
def make_generator_table():
    global generator_table
    
    generator_table = dict()
    query = text('SELECT "Installer_Name", "Generator_Manufacturer", '\
                  'COUNT("Generator_Manufacturer"), ROUND(AVG("Generator_Quantity")) '\
                  'FROM "CA" '\
                  'GROUP BY "Installer_Name", "Generator_Manufacturer" '\
                  'HAVING "Installer_Name" != \'Other\' '\
                  'ORDER BY "Installer_Name", COUNT("Generator_Manufacturer") DESC')
    
    with engine.connect() as conn:
        results = conn.execute(query).fetchall()    
        for row in results:
            installer = row[0]
        
            if installer not in generator_table:
                generator_table[installer] = (row[1], int(row[2]), int(row[3])) 
                #print(row)

# create the generator lookup table
make_generator_table()

In [32]:
# given a city zip code return the top 10 installers and their average generator install cost. return utility
# and array of tuples
def get_installers(zip_code = '92130'):
    utility_query = text('SELECT "Utility" FROM "CA" WHERE "Service_Zip" = \'' + zip_code + '\' LIMIT 1')
    city_query = 'SELECT "Service_City" FROM "CA" WHERE "Service_Zip" = \'' + zip_code + '\' LIMIT 1'

    query = text('SELECT "Service_City", "Installer_Name", COUNT("Installer_Name"), '\
                 'ROUND (AVG("System_Size_AC")), '\
                 'ROUND(AVG("Total_System_Cost")) '\
                 'FROM "CA" '\
                 'WHERE "Service_City" = (' + city_query + ') '\
                 'GROUP BY "Service_City", "Installer_Name" '\
                 'HAVING "Installer_Name" != \'Other\' '\
                 'ORDER BY COUNT("Installer_Name") DESC LIMIT 10')
    
    #print(query)
    
    with engine.connect() as conn:
        # get the untility
        utility = conn.execute(utility_query).fetchall()[0][0]
        #print('Utility: ', utility)
    
        results = conn.execute(query).fetchall()    
        records = list()
        for row in results:
            records.append(row)
    
    # return the utility and installer records 
    return utility, records

# test the function
get_installers()

('SDGE',
 [('SAN DIEGO', 'Tesla', 5974, 7.0, 28104.0),
  ('SAN DIEGO', 'Baker', 5679, 7.0, 37402.0),
  ('SAN DIEGO', 'Semper', 4822, 6.0, 29833.0),
  ('SAN DIEGO', 'Stellar', 2528, 6.0, 31281.0),
  ('SAN DIEGO', 'SunPower', 2320, 5.0, 32268.0),
  ('SAN DIEGO', 'Sunrun', 2287, 5.0, 27808.0),
  ('SAN DIEGO', 'Sunline Energy', 1552, 6.0, 28561.0),
  ('SAN DIEGO', 'Sunnova', 1275, 3.0, 11381.0),
  ('SAN DIEGO', 'Self-installed', 1143, 6.0, 20552.0),
  ('SAN DIEGO', 'Sullivan', 951, 6.0, 26045.0)])

In [5]:
# load the scaler and optimzed model
scalers = dict()
models = dict()

# function to load the meachine learning models
def loadModels():
    utilities  = ['SDGE', 'PGE', 'SCE']
    for utility in utilities:
        scaler_file = "../models/scaler-" + utility + ".pkl"
        model_file = "../models/xgb_model-" + utility + ".pkl"

        scalers[utility] = pickle.load(open(scaler_file, "rb"))
        models[utility] = pickle.load(open(model_file, "rb"))

# load the trained xgb boost models for testing
loadModels()

In [6]:
# function to one hot encode and add all the needed columns for the scaler to work
def one_hot_encode(df, train_features):
    cat_columns = df.dtypes[df.dtypes == "object"].index.tolist()
    enc = OneHotEncoder(sparse_output=False)
    enc_data = enc.fit_transform(df[cat_columns])
    enc_columns = enc.get_feature_names_out().tolist()

    encode_df = pd.DataFrame(enc_data, columns=enc_columns)

    # now lets merge the into the main dataframe then drop original columns
    df = df.merge(encode_df, left_index=True, right_index=True)
    df = df.drop(columns=cat_columns)

    # add all the features that the model was trained on otherwise scaler/model won't work
    for feature in train_features:
        if feature not in df.columns:
            series = pd.Series(0, index=df.index, name=feature)
            df = pd.concat([df, series], axis=1)
    
    # re-order the feature names to be the same as what the scaler saw during training
    df = df[train_features]
    
    # return the one hot encoded dataframe
    return df
    
#function to make a prediction provided a dictionary containing variable to predict on
def get_estimate(utility, data):
    # load the scaler and model
    scaler = scalers[utility]
    model = models[utility]

    # convert the dictionary into a dataframe 
    df = pd.DataFrame(data)
    #display(df)
    
    # one hot encode the data and scale it
    train_features = scaler.feature_names_in_
    df = one_hot_encode(df, train_features)
    X_scaled = scaler.transform(df)

    # make a prediction now
    return model.predict(X_scaled)

In [7]:
# Test making a prediction
utility = 'SDGE'

test_data = {
    'Service_City': ['SAN DIEGO', 'SAN DIEGO'], 
    'Technology_Type': ['Solar', 'Solar'],
    'System_Size_AC': [7.0, 7.0],
    'Storage_Size_kW_AC': [0, 0],
    'Mounting_Method': ['Rooftop', 'Rooftop'],
    'Installer_Name': ['Tesla', 'Baker'],
    'Third_Party_Owned': ['No', 'No'],
    'Electric_Vehicle': ['No', 'No'],
    'Generator_Manufacturer':['Other', 'Other'],
    'Generator_Quantity': [12, 12]
}

get_estimate(utility, test_data)

array([22770.86, 36573.4 ], dtype=float32)

In [29]:
# making predictions using zip codes
def make_predications(zipcode, kw, ecar):
    pred_data = {
        'Service_City': [],
        'Technology_Type': [],
        'System_Size_AC': [],
        'Storage_Size_kW_AC': [],
        'Mounting_Method': [],
        'Installer_Name': [],
        'Third_Party_Owned': [],
        'Electric_Vehicle': [],
        'Generator_Manufacturer': [],
        'Generator_Quantity': []
    }

    # store this information
    estimate_data = {
        'Service_City': [],
        'Installer_Name': [],
        'Installation_Count': [],
        'Avg_Size_AC': [],
        'Avg_Cost': [],
        'My_Size_AC': [],
        'ECar': [],
        'Est_Cost': []
    }
    
    # get the utility and top 10 installers for the particular zipcode
    utility, installers = get_installers(zipcode)
    
    for installer in installers:
        #print("Installer Info:", installer)
        generator_info = generator_table[installer[1]]

        # populate dictionary that gets returned with cost estimates
        estimate_data['Service_City'].append(installer[0])
        estimate_data['Installer_Name'].append(installer[1])
        estimate_data['Installation_Count'].append(installer[2])
        estimate_data['Avg_Size_AC'].append(installer[3])
        estimate_data['Avg_Cost'].append(int(installer[4]))
        estimate_data['My_Size_AC'].append(kw)
        estimate_data['ECar'].append(ecar)
        
        # populate the dictionary with information for making predictions
        pred_data['Service_City'].append(installer[0])
        pred_data['Technology_Type'].append('Solar')
        pred_data['System_Size_AC'].append(kw)
        pred_data['Storage_Size_kW_AC'].append(0)
        pred_data['Mounting_Method'].append('Rooftop')
        pred_data['Installer_Name'].append(installer[1])
        pred_data['Third_Party_Owned'].append('No')
        pred_data['Electric_Vehicle'].append(ecar)
        pred_data['Generator_Manufacturer'].append(generator_info[0]) # the most common generator used by installer
        pred_data['Generator_Quantity'].append(generator_info[2]) # the average number of the above generator used

    # now return the estimates and append to the dictionary so it can be turned info a dataframe
    #print("Data to predict", pred_data)
    estimates = get_estimate(utility, pred_data)
    estimate_data['Est_Cost'] = [int(x) for x in estimates]

    return estimate_data

In [33]:
#Test making estimates SAN Diago
estimates = make_predications('92130', 8.0, 'No')
df = pd.DataFrame(estimates)
df

,Service_City,Installer_Name,Installation_Count,Avg_Size_AC,Avg_Cost,My_Size_AC,ECar,Est_Cost
0,SAN DIEGO,Tesla,5974,7.0,28104,8.0,No,29753
1,SAN DIEGO,Baker,5679,7.0,37402,8.0,No,40570
2,SAN DIEGO,Semper,4822,6.0,29833,8.0,No,36158
3,SAN DIEGO,Stellar,2528,6.0,31281,8.0,No,35423
4,SAN DIEGO,SunPower,2320,5.0,32268,8.0,No,41197
5,SAN DIEGO,Sunrun,2287,5.0,27808,8.0,No,34921
6,SAN DIEGO,Sunline Energy,1552,6.0,28561,8.0,No,34182
7,SAN DIEGO,Sunnova,1275,3.0,11381,8.0,No,32039
8,SAN DIEGO,Self-installed,1143,6.0,20552,8.0,No,22955
9,SAN DIEGO,Sullivan,951,6.0,26045,8.0,No,32484

In [34]:
#Test making estimates SAN CLEMENTE
estimates = make_predications('92673', 8.0, 'No')
df = pd.DataFrame(estimates)
df

,Service_City,Installer_Name,Installation_Count,Avg_Size_AC,Avg_Cost,My_Size_AC,ECar,Est_Cost
0,SAN CLEMENTE,Tesla,1151,7.0,27071,8.0,No,29447
1,SAN CLEMENTE,Semper,346,9.0,35994,8.0,No,38117
2,SAN CLEMENTE,Baker,194,8.0,43315,8.0,No,40570
3,SAN CLEMENTE,SunPower,153,7.0,43244,8.0,No,41197
4,SAN CLEMENTE,Stellar,124,7.0,34349,8.0,No,35423
5,SAN CLEMENTE,Solcius,109,6.0,33865,8.0,No,36184
6,SAN CLEMENTE,Sunrun,106,6.0,35684,8.0,No,34921
7,SAN CLEMENTE,Self-installed,80,8.0,33925,8.0,No,23199
8,SAN CLEMENTE,SolarMax,62,7.0,24660,8.0,No,30405
9,SAN CLEMENTE,PetersenDean,44,6.0,35911,8.0,No,33669

In [35]:
# Test making estimate in REDWOOD CITY
estimates = make_predications('94061', 8.0, 'No')
df = pd.DataFrame(estimates)
df

,Service_City,Installer_Name,Installation_Count,Avg_Size_AC,Avg_Cost,My_Size_AC,ECar,Est_Cost
0,REDWOOD CITY,Tesla,460,7.0,33005,8.0,No,24738
1,REDWOOD CITY,Semper,185,6.0,27888,8.0,No,34547
2,REDWOOD CITY,Sunrun,163,6.0,28033,8.0,No,33941
3,REDWOOD CITY,SunPower,155,6.0,36001,8.0,No,38462
4,REDWOOD CITY,Clean Solar,91,7.0,33712,8.0,No,31600
5,REDWOOD CITY,Cobalt,57,9.0,49572,8.0,No,37690
6,REDWOOD CITY,Self-installed,43,7.0,25213,8.0,No,23878
7,REDWOOD CITY,The Solar Company,33,6.0,32851,8.0,No,36568
8,REDWOOD CITY,Bay Area,27,10.0,52328,8.0,No,33736
9,REDWOOD CITY,Infinity Energy,25,6.0,29875,8.0,No,43536