# ETL Notebook For Preparing Data For Tableau Exploration

In [1]:
# import pandas
import pandas as pd
from pathlib import Path

In [23]:
# Specify the data files location
data_dir = "/Users/ns96/Documents/ML_Project/"

data_file1 = Path(data_dir + 'projects_sdge_5_year.csv')

df = pd.read_csv(data_file1, low_memory=False)

print(df.shape)

df.head()

(179363, 151)

,Application Id,Matched CSI Application Number,Application Status,Utility,Service City,Service Zip,Service County,Technology Type,System Size DC,System Size AC,...,Inverter Quantity 19,Inverter Model 20,Inverter Manufacturer 20,Inverter Quantity 20,Inverter Model 21,Inverter Manufacturer 21,Inverter Quantity 21,Inverter Model 22,Inverter Manufacturer 22,Inverter Quantity 22
0,SDGE-INT-103716,NaN,Interconnected,SDGE,VISTA,92084.0,SAN DIEGO,Solar,9.940,9.940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SDGE-INT-121005,NaN,Interconnected,SDGE,LA JOLLA,92037.0,SAN DIEGO,Solar,9.450,8.597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SDGE-INT-122995,NaN,Interconnected,SDGE,SAN DIEGO,92102.0,SAN DIEGO,Solar,1.540,1.285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SDGE-INT-123182,NaN,Interconnected,SDGE,CHULA VISTA,91915.0,SAN DIEGO,Solar,10.005,9.001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SDGE-INT-124296,NaN,Interconnected,SDGE,SAN DIEGO,92128.0,SAN DIEGO,Solar,6.600,5.942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# print the columns names
df.columns.to_list()

['Application Id',
 'Matched CSI Application Number',
 'Application Status',
 'Utility',
 'Service City',
 'Service Zip',
 'Service County',
 'Technology Type',
 'System Size DC',
 'System Size AC',
 'Storage Capacity (kWh)',
 'Storage Size (kW AC)',
 'Inverter Size (kW AC)',
 'Tilt',
 'Azimuth',
 'Mounting Method',
 'Tracking',
 'Customer Sector',
 'App Received Date',
 'App Complete Date',
 'App Approved Date',
 'Self Installer',
 'Installer Name',
 'Installer Phone',
 'Installer City',
 'Installer State',
 'Installer Zip',
 'CSLB Number',
 'Third Party Owned',
 'Third Party Owned Type',
 'Third Party Name',
 'Pace Financed',
 'Pace Financier',
 'Electric Vehicle',
 'Electric Vehicle Count',
 'System Output Monitoring',
 'System Output Reports To Vendor?',
 'System Output Monitoring Provider',
 'Total System Cost',
 'Itc Cost Basis',
 'Previous Application',
 'Previous Application Ids',
 'NEM Tariff',
 'Interconnection Program',
 'VNEM, NEM-V, NEM-Agg',
 'Project is VNEM, NEM-V, NEM-Agg?',
 'NEMPV or nonNEMPV',
 'VNEM ID',
 'Match Somah Application',
 'Generator Model 1',
 'Generator Manufacturer 1',
 'Generator Quantity 1',
 'Generator Model 2',
 'Generator Manufacturer 2',
 'Generator Quantity 2',
 'Generator Model 3',
 'Generator Manufacturer 3',
 'Generator Quantity 3',
 'Generator Model 4',
 'Generator Manufacturer 4',
 'Generator Quantity 4',
 'Generator Model 5',
 'Generator Manufacturer 5',
 'Generator Quantity 5',
 'Generator Model 6',
 'Generator Manufacturer 6',
 'Generator Quantity 6',
 'Generator Model 7',
 'Generator Manufacturer 7',
 'Generator Quantity 7',
 'Generator Model 8',
 'Generator Manufacturer 8',
 'Generator Quantity 8',
 'Generator Model 9',
 'Generator Manufacturer 9',
 'Generator Quantity 9',
 'Generator Model 10',
 'Generator Manufacturer 10',
 'Generator Quantity 10',
 'Generator Model 11',
 'Generator Manufacturer 11',
 'Generator Quantity 11',
 'Generator Model 12',
 'Generator Manufacturer 12',
 'Generator Quantity 12',
 'Inverter Model 1',
 'Inverter Manufacturer 1',
 'Inverter Quantity 1',
 'Inverter Model 2',
 'Inverter Manufacturer 2',
 'Inverter Quantity 2',
 'Inverter Model 3',
 'Inverter Manufacturer 3',
 'Inverter Quantity 3',
 'Inverter Model 4',
 'Inverter Manufacturer 4',
 'Inverter Quantity 4',
 'Inverter Model 5',
 'Inverter Manufacturer 5',
 'Inverter Quantity 5',
 'Inverter Model 6',
 'Inverter Manufacturer 6',
 'Inverter Quantity 6',
 'Inverter Model 7',
 'Inverter Manufacturer 7',
 'Inverter Quantity 7',
 'Inverter Model 8',
 'Inverter Manufacturer 8',
 'Inverter Quantity 8',
 'Inverter Model 9',
 'Inverter Manufacturer 9',
 'Inverter Quantity 9',
 'Inverter Model 10',
 'Inverter Manufacturer 10',
 'Inverter Quantity 10',
 'Inverter Model 11',
 'Inverter Manufacturer 11',
 'Inverter Quantity 11',
 'Inverter Model 12',
 'Inverter Manufacturer 12',
 'Inverter Quantity 12',
 'Inverter Model 13',
 'Inverter Manufacturer 13',
 'Inverter Quantity 13',
 'Inverter Model 14',
 'Inverter Manufacturer 14',
 'Inverter Quantity 14',
 'Inverter Model 15',
 'Inverter Manufacturer 15',
 'Inverter Quantity 15',
 'Inverter Model 16',
 'Inverter Manufacturer 16',
 'Inverter Quantity 16',
 'Inverter Model 17',
 'Inverter Manufacturer 17',
 'Inverter Quantity 17',
 'Inverter Model 18',
 'Inverter Manufacturer 18',
 'Inverter Quantity 18',
 'Inverter Model 19',
 'Inverter Manufacturer 19',
 'Inverter Quantity 19',
 'Inverter Model 20',
 'Inverter Manufacturer 20',
 'Inverter Quantity 20',
 'Inverter Model 21',
 'Inverter Manufacturer 21',
 'Inverter Quantity 21',
 'Inverter Model 22',
 'Inverter Manufacturer 22',
 'Inverter Quantity 22']

In [24]:
# drop all rows which does not have a Total System Cost and Itc Cost Basis
df.dropna(subset=['Total System Cost', 'Itc Cost Basis'], how='all', inplace=True)

# lets fill any na in the remaining rwos with zero
df['Total System Cost'] = df['Total System Cost'].fillna(0)
df['Itc Cost Basis'] = df['Itc Cost Basis'].fillna(0)

df["TOTAL_COST"] = df_final['Total System Cost'] + df_final['Itc Cost Basis']
df["TOTAL_COST"].info()

print('\n', df.shape)

<class 'pandas.core.series.Series'>
Index: 178957 entries, 0 to 179362
Series name: TOTAL_COST
Non-Null Count   Dtype
--------------   -----
125902 non-null  float64
dtypes: float64(1)
memory usage: 2.7 MB
(178957, 152)

In [25]:
# select only the Solar and Residential
print(df['Technology Type'].value_counts())
print("")
print(df['Customer Sector'].value_counts())

Technology Type
Solar                      159257
Advanced Energy Storage     19700
Name: count, dtype: int64

Customer Sector
Residential         177081
Commercial            1585
Educational            206
Other Government        46
Industrial              24
Military                15
Name: count, dtype: int64

In [26]:
df_final = df.loc[(df['Technology Type'] == 'Solar') & (df['Customer Sector'] == 'Residential')]
print(df_final.shape)

(157498, 152)